@model IEnumerable<ExplorerViewModel>
@{
    ViewData["Title"] = "Home";
}

<form asp-action="GetDirectory"
    data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace"
    data-ajax-update="#results" data-ajax-loading="#loading"> @* data-ajax-begin="OnBegin"> *@
    
    <div id="results">
        @await Html.PartialAsync("_Explorer", Model)
    </div>
</form>

<div id="loading" style="display:none">
    <p>Идет загрузка...</p>
</div>

@*@section Scripts {
    <script>
        function OnBegin() {
            $('#results').html('<p>Идет загрузка...</p>');
        }
    </script>
}*@