@model IEnumerable<ProviderViewModel>
@{
    ViewData["Title"] = "Home";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th> Name </th>
            <th> Size </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if(item.isDirectory)
                    {
                        <i class="bi bi-folder"> @Html.RouteLink(item.Name, new { path = item.Path }) </i>
                    }
                    else
                    {
                        <i class="bi bi-earmark"> @item.Name </i>
                    }
                </td>
                <td> 
                    @ProviderViewModel.BytesToString(item.Size) 
                </td>
            </tr>
        }
    </tbody>
</table>